body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: gray;
    display : flex;
    padding: 10px;
    height: 400px;
    width : 300px;
    border: 5px solid  black;
    flex-direction: column;   
}

.screen{
    width: 100%;
    height: 100px;
    box-sizing: border-box;   
    border: 4px solid black;
    text-align: right;
    padding: 10px;
    font-size: 36px;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: goldenrod;
   
}

.button-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#rows{
    display: flex;
    justify-content: space-between;
    width: 100%;  
}

button{
    width: 25%;
    margin: 2px;
    height: 50px; 
    border-radius: 5px;
    font-size: 15px;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    border: 2.5px solid #333;
}

.operators{
    background-color: red;
    color: white;
    font-size: 25px;
}

.interface{
    background-color:brown;
    color: white;
    flex : 1.5;
}

#equal{
    flex : 2;
}

.nums{
    font-size: 25px;
}
